<aside id="sidebar" class="sidebar">
    <h3 class="sidebar-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
    
    <nav class="navigation">
    
      <ul>
        <li><a class="page-link" href="/">Home</a></li>
      </ul>
      
      <ul>
          <li class="toggle-wrapper">
            <a href="{{site.baseurl }}/users/index/" class="page-link toggle">User Docs</a>
            <nav class="toggle-menu height-transition height-transition-hidden">
                <ul>
                {% for page in site.users %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
            </nav>
          </li>
      </ul>
      
      <ul>
          <li class="toggle-wrapper">
            <a class="page-link toggle">Developers</a>
            <nav href="{{site.baseurl }}/developers/index/" class="toggle-menu height-transition height-transition-hidden">
            <ul>
            {% for page in site.developers %}
              {% if page.title %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
            </nav>
          </li>
      </ul>
      
      <ul>
        <li class="toggle-wrapper toggle">
          <a class="page-link toggle">Projects</a>
            <nav class="toggle-menu height-transition height-transition-hidden">
            <ul>
              <li class="toggle-wrapper toggle">
                <a href="{{ site.baseurl }}/sana.mds/index/" class="project-link toggle">MDS</a>
                <nav class="toggle-menu height-transition height-transition-hidden">
                  <ul>
                  {% for page in site.sana.mds %}
                  {% if page.title %}
                      <li><a class="subpage-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
                  {% endfor %}
                  </ul>
                 </nav>
              </li>
              <li class="toggle-wrapper toggle">
                <a href="{{ site.baseurl }}/sana.mobile/index/" class="project-link toggle">Mobile Client</a>
                <nav class="toggle-menu height-transition height-transition-hidden">
                  <ul>
                  {% for page in site.sana.mobile %}
                    {% if page.title %}
                    <li><a class="subpage-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
                </nav>
              </li>
              <li class="toggle-wrapper">
                <a href="{{ site.baseurl }}/sana.openmrs/index/" class="project-link toggle">Encounter Queue Module</a>
                <nav class="toggle-menu height-transition height-transition-hidden">
                  <ul>
                  {% for page in site.sana.mds %}
                    {% if page.title %}
                    <li><a class="subpage-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                </nav>
              </li>
            </ul>
        </nav>
    </ul>
    
    <ul>
      <li><a class="page-link" href="{{ site.url }}/about/">About this site</a></li>
    </ul>
  </nav>
</aside>
